{{ define "layouts/base-footer.gohtml" }}

  </main>

    {{ block "footer" . }}
      <footer>
        <p>&copy; 2024 My Application</p>
      </footer>
    {{ end }}
    </body>
    </html>

{{ end }}