{{ define "home" }}
    {{template "publicHeader" .}}
    <h2>Check the latest matches</h2>
    <div>
      <a href="/matches">
        View Latest Matches
      </a>
    </div>
    {{template "publicFooter" .}}
{{ end }}
